 /* Clase personalizada para el fondo */
 .custom-login-background {
    background-image: url('../img/fondoLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative; /* Permite que la capa de oscurecimiento se superponga */
}

.custom-login-background::before {
    content: ""; /* Necesario para que el pseudo-elemento funcione */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad para oscurecer la imagen */
}