{% extends "base.html" %}

{% block title %}Empleados{% endblock %}

{% block content %}
<div class="content-title">Empleados</div>


<div class="content">
    <button class="btn btn-success nuevoBtn">Nuevo Empleado</button>
    <br> <br>
    <table id="tablaEmpleados" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo de documento</th>
                <th>Numero de documento</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Distrito</th>
                <th>Sexo</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha de Nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Carga dinámica -->
        </tbody>
    </table>
</div>


<div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-labelledby="empleadoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empleadoModalLabel"></h5>
                <button type="button" class="btn btn-link p-0 cerrarBtn" style="text-decoration: none; " >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="empleadoForm">
                    <div class="row">
                        <!-- Columna izquierda -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombresEmpleado">Nombres</label>
                                <input type="text" class="form-control" id="nombresEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="apellidosEmpleado">Apellidos</label>
                                <input type="text" class="form-control" id="apellidosEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="edadEmpleado">Edad</label>
                                <input type="text" class="form-control" id="edadEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="usuarioEmpleado">Usuario</label>
                                <input type="text" class="form-control" id="usuarioEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="claveEmpleado">Clave</label>
                                <input type="text" class="form-control" id="claveEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="telefonoEmpleado">Telefono</label>
                                <input type="text" class="form-control" id="telefonoEmpleado" required>
                            </div>
                            <br>
                        </div>

                        <!-- Columna derecha -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rolEmpleado">Rol</label>
                                <select class="form-control" id="rolEmpleado">
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="distritoEmpleado">Distrito</label>
                                <select class="form-control" id="distritoEmpleado">
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="sexoEmpleado">Sexo</label>
                                <select class="form-control" id="sexoEmpleado">
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="tipoDocEmpleado">Tipo de documento</label>
                                <select class="form-control" id="tipoDocEmpleado">
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="numDocEmpleado">Numero de documento</label>
                                <input type="text" class="form-control" id="numDocEmpleado" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="fechaNacEmpleado">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacEmpleado" required>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="correoEmpleado">Correo</label>
                            <input type="email" class="form-control" id="correoEmpleado" required>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cerrarBtn">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="guardarCliente">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmación de Eliminación</h5>
                <button type="button" class="btn btn-link p-0 cerrarBtn" style="text-decoration: none; " >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este empleado?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cerrarBtn" >Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/empleados.js"></script>
{% endblock %}