<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/style_login.css" type="text/css">
    <link rel="icon" href="" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Registro</h1>
        <form id="loginForm">
            <label for="Usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" required>
            
            <label for="Clave">Clave:</label>
            <input type="password" id="clave" name="clave" required>
            
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>
